* {
    font-family: Inter;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* margin-inline: 80px; */
}
/* html {
    margin-inline: 80px;
    background-color: #ECF0FC;
} */

body {
    /* margin-inline: 80px; */
    background-color: #ECF0FC;
    overflow-x: hidden;
}
/* TEXT STYLES */
h1 {
    font-size: 4.5rem;
    font-weight: 400;
}

.h1-bold {
    font-size: 4.5rem;
    font-weight: 700
}

h2 {
    font-size: 4.0rem;
    font-weight: 400;
}

.h2-bold {
    font-size: 4.0rem;
    font-weight: 700;
}

h3 {
    font-size: 3.5rem;
    font-weight: 400;
}

.h3-bold {
    font-size: 3.5rem;
    font-weight: 700;
}


h4 {
    font-size: 3.0rem;
    font-weight: 400;
}


.h4-bold {
    font-size: 3.0rem;
    font-weight: 700;   
}


h5 {
    font-size: 2.5rem;
    font-weight: 400;
}


.h5-bold {
    font-size: 2.5rem;
    font-weight: 700;
}


h6 {
    font-size: 2.0rem;
    font-weight: 400;
}


.h6-bold {
    font-size: 2.0rem;
    font-weight: 700;
}


.bodytext {
    font-size: 1.5rem;
    font-weight: 400;
}

.bodytext-bold {
    font-size: 1.5rem;
    font-weight: 700;
}

.captiontext {
    font-size: 1.0rem;
    font-weight: 400;
}

.captiontext-bold {
    font-size: 1.0rem;
    font-weight: 700;
}

/* COLOR STYLES */

.color-blue {
    color: #243a7b;
    
}

.color-orange {
    color: #F5E2C4;
}

.bgcolor-blue {
    color: #243a7b;
    
}

.bgcolor-blue-2 {
    background-color: #243a7b;
}

.bgcolor-orange {
    background-color: #F5E2C4;
}

/* BUTTONS */
.button {
    display: inline-flex;
    padding: 16px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border: 0px;
    background: #2E4B9F;
    color: #ECECEC;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

.button:hover {
    background: #3144C4;
}

.button:active {
    background: #29347F;
}


.button-2 {
    cursor: pointer;
    display: inline-flex;
    padding: 16px 33px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 5px;
    border-radius: 5px;
    border: 2px solid #2E4B9F;
    background: none;
    color: #2E4B9F;
    text-align: center;
    font-family: Inter;
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.button-2:hover {
    background: #3144C4;
    color: #ECECEC;
}

.button-2:active {
    background: #29347F;
    color: #ECECEC;
}

/* INPUT FIELDS */

.input-text {
    width: 550px;
    padding-inline: 16px;
    padding-block: 16px;
    font-size: 1.25rem;
    font-weight: 600;
    color: #333; /* Text color */
    background-color: #ffffff; /* Fill color (background) */
    border: 0px; /* Stroke color (border) */
    border-radius: 5px;
    outline: none; /* Remove default focus outline */
    transition: border-color 1s ease-in, background-color 1s ease;
}

.input-text::placeholder {
    color: #868686;
    font-size: 1.0rem;
    font-weight: 400;
}

.input-text:focus {
    border: 1px solid #29347F;
}