.flex-row {
    display: flex;
    flex-direction: row;    
}

.flex-column {
    display: flex;
    flex-direction: column;
}

/* HERO SECTION */
.hero {
    z-index: -1;
    margin-inline: 80px;
}

.hero-content {
    width: 100%;
    height: 90vh;
    /* border: 2px solid blue; */
    align-items: center;
    justify-content: space-between;
}

.hero-text {
    gap: 24px;
    width: 794px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}



.hero-img {
    position: absolute;
    left: 650px;
    top: 90px;
    width: 1000px;
    z-index: -1;
    /* border: 1px solid; */
}

.plane-illustration {
    width: 179.296px;
    height: 120.833px;
    transform: rotate(-15.841deg);
    flex-shrink: 0;
    position: absolute;
    top: 30%;
    left: 58%;
}

.plane-illustration-2 {
    position: absolute;
    top: 80%;
    left: 80%;
}

.hero svg {
    position: absolute;
    left: 860px;
    top: -100px;
    z-index: -10;

}

/* HEADER AND NAVIGATION */
header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding-block: 16px;
    z-index: 2;
    /* border: 1px solid; */
}

header img {
    width: 80px;
}

nav {
    width: 800px;
 display: flex;
 flex-direction: row;
 gap: 24px;
 align-items: center;
 justify-content: space-between;
}

nav a {
    text-decoration: none;
}

/* BOOKING SECTION */
.booking {
    width: 100%;
    height: 950px;
    z-index: 0;
    margin-top: 40px;
    align-content: center;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, rgba(234, 192, 128, 0.50) 0%, rgba(234, 192, 128, 0.50) 100%), url(./Assets/Images/book\ section\ image.png) lightgray 50% / cover no-repeat;
}

.booking-container {
    background-color: #ECF0FC;
    width: 90%;
    height: 70%;
    border-radius: 20px;
    align-items: center;
    gap: 32px;
}

.select-service {
    display: inline-flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
    background-color:#ECF0FC;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    position: relative;
    top: -50px;
    /* border: 1px solid; */
    width: 70%;
    height: 120px;
    border-radius: 20px;
    padding-inline: 64px;
    padding-block: 20px;
}

.select-service div {
    padding-inline: 64px;
    padding-block: 20px;
    border-radius: 15px;
    align-items: center; 
    justify-content: center;
    cursor: pointer;
}

/* TOP DESTINATIONS */
.destinations {
    align-items: center;
    margin-top: 100px;
    gap: 48px;
    margin-inline: 80px;    
    margin-bottom: 200px;
}

.destinations-card {
    background-color: white;
    border-radius: 40px;
    height: 610px;
    width: 410px;
    /* border: 1px solid; */
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.10);
    gap: 16px;
    overflow-x: hidden;
}

/* SEASONAL STYLES */
.seasonal {
    align-items: center;
    margin-top: 200px;
    gap: 32px;
    margin-inline: 80px;   
}

.seasonal-card {
    width: 560px;
    height: 250px;
    border-radius: 24px;
    border: 1px solid grey;
    /* align-items: center; */
    gap: 16px;
    padding: 16px;
}

/* CAMPAIGN  */
.campaign {
    /* width: 100%; */
    
    margin-top: 150px;
    align-items: center;
    height: 500px;
    background-color: #dde0ec;
    /* border-radius: 20px;
    border: 2px solid #29347F; */
    overflow: hidden;
}

.campaign svg {
    position: relative;
    left: 100px;
}

#campaign-person {
    position: relative;
    left: -1200px;
    top: 30px;
}

/* FOR COMPANY LOGOS */
.company-logos {
    justify-content: center;
    align-items: center;
    margin-inline: 80px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* SUBSCRIPTION */
.subscription {
    align-items: center;
    justify-content: center;
    /* gap: 64px; */
    background-color: #E8E5F8;
    height: 500px;
    width: 100%;
}

.sub-content {
    align-items: center;
    justify-content: center;
    align-content: center;
    align-self: center;
    gap: 64px;
    background-color: #E8E5F8;
    width: 45%;
    
}

/* #globe-1 {
    position: relative;
    top: -200px;
    left: -200px;
}

#globe-2 {
    position: relative;
    top: -200px;
    left: 600px;
} */





/* FOOTER STYLE */

footer{
    height: 70vh !important;
    padding: 5rem;
    /* border: 1px solid green; */
    margin-top: 80px;
}

.footer-body{
    display: flex;
    justify-content: space-between;
    align-items:start;
}

.inner1 h5{
    margin-bottom: 2rem;

}
.inner1 p{
    margin-bottom: .4rem;
    color: rgba(0, 0, 0, 0.541);
}

.inner2{
    display: flex;
    gap: 3rem;
    font-weight: 500 !important;
}

.inner-links{
    display: flex;
    flex-direction: column;
    gap: 1rem;
} 
.inner-links a{
    color: rgba(0, 0, 0, 0.541);
    text-decoration: none;
    transition: all .2s ease-in;
}
.inner-links a:hover{
    color: rgba(0, 0, 0, 0.705);
    scale: 1.03;
}


.socials{
    margin-bottom: 1.7rem;
}
.downloads{
    margin-top: 1.7rem;
}

.right{
    text-align: center;
    position: relative;
    bottom: -3rem;
    color: rgba(0, 0, 0, 0.521);
}